@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

:root {

  /* light mode */
  --azul-principal: #007FFF;
  --branco-destaque: #FFF;
  --branco-leve: #EAEAEA;
  
  /* dark mode */
  --azul-escuro-principal: #003366;
  --preto-principal: #0F141A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  min-height: 110vh
}

.cabecalho {
  display: flex;
  background-color: var(--azul-principal);
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}


.cabecalho-titulo {
  flex: 1;
  color: white;
  text-decoration: none;
  width: 5vw;
  white-space: nowrap;
  text-align: center;
  user-select: none;
}

.cabecalho-nav__link {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.cabecalho-nav__link:hover {
  text-decoration: underline;
}

span.btn-light-mode {
  display: none;
  user-select: none;
}

span.btn-dark-mode {
  user-select: none;
}

.principal {
  width: 100%;
  flex: 1;
}

.task-prompt {
  border: 2.5px solid var(--azul-principal);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.task-titulo,
.task-detalhes {
  color: var(--azul-principal);
  opacity: 50%;
}

.task-titulo {
  font-size: 20 px;
}

.task-detalhes {
  font-size: 12px;
  display: none;
}

.task-divisoria {
  border-bottom: 2.5px solid var(--azul-principal);
  margin-top: 5px;
  margin-bottom: 5px;
  display: none;
}

.task-titulo:focus,
.task-detalhes:focus {
  outline: none;
}

.material-symbols-outlined {
  border: 1px solid transparent;
  color: var(--branco-destaque);
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--azul-principal);
  user-select: none;
}

#btn-add:hover {
  opacity: 70%;
}

.rodape {
  background-color: var(--azul-principal);
}

.rodape-copyright p {
  color: white;
  text-align: left;
  margin: 50px;
}

.rodape-secoes {
  margin: 50px;
  display: flex;
  gap: 50px;
}

.rodape-secoes h4 {
  color: white;
}

.rodape-secoes ul {
  list-style: none;
}

.rodape-secoes__item a {
  text-decoration: none;
  color: white;
}

.rodape-secoes__item {
  color: white;
  font-size: 15px;
  user-select: none;
}

.rodape-secoes__item:hover {
  opacity: 0.8;
}

.rodape-contato__rede {
  width: 20%;
  margin-top: 10px;
  margin-left: 2px;
}

.rodape-contato__rede:hover {
  opacity: 50%;
}

span.btn-light-mode,
span.btn-dark-mode {
  background-color: transparent;
}

/* dark mode */
.cabecalho-dark-mode {
  background-color: var(--azul-escuro-principal);
}

.principal-dark-mode{
  background-color: var(--preto-principal);
}

.task-titulo-dark-mode {
  color: var(--branco-leve);
}

.btn-add-dark-mode {
  background-color: var(--azul-escuro-principal);
}

.rodape-dark-mode {
  background-color: var(--azul-escuro-principal);
}

.task-divisoria-dark-mode {
  border-bottom: 2.5px solid var(--branco-leve);
}

.task-prompt-dark-mode {
  border: 2.5px solid var(--branco-leve);
}

.task-detalhes-dark-mode {
  color: var(--branco-leve);
}
